<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcs.repository.optionMapper">
	<select id="selectByname" resultType="option">
		SELECT * from wp_options
		where option_name = #{name}
	</select>
	<update id="updateOptionValueByname">
		UPDATE wp_options SET option_value = #{val}
		WHERE
		option_name = #{name}
	</update>
</mapper>