<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/dataSource.properties" />
	<typeAliases>
		<package name="com.mcs.model" />
	</typeAliases>
	<mappers>
		<mapper resource="Mappers/postMapper.xml" />
		<mapper resource="Mappers/termMapper.xml" />
		<mapper resource="Mappers/taxonomyMapper.xml" />
		<mapper resource="Mappers/termRelationshipMapper.xml" />
		<mapper resource="Mappers/optionMapper.xml" />
	</mappers>
</configuration>